.resume-container {
  border-right: 1px solid #aaa;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
}

.resume-container p a:link,
.resume-container p a:visited {
  color: #333;
  text-decoration: none;
}

.resume-container h2 {
  font-size: 3.4rem;
}

.resume-container p {
  font-size: 2.2rem;
  padding-top: 1.3rem;
}

.contact-photo {
  position: relative;
}
.inner-contact-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.contact-heading {
  font-size: 4.8rem;
  padding-bottom: 1.2rem;
  color: #adb5bc;
  font-weight: 400;
}

.contact-paragraph {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #495057;
}

/******************************/
/* HERO PHOTO RESPONSIVE */
/******************************/

@media (max-width: 62em) {
  .contact-heading {
    font-size: 3.2rem;
  }
  .contact-paragraph {
    font-size: 2rem;
  }
}

@media (max-width: 48em) {
  .contact-heading {
    font-size: 2.2rem;
  }
  .contact-paragraph {
    font-size: 1.7rem;
  }
}

@media (max-width: 33em) {
  .contact-heading {
    font-size: 1.6rem;
  }
  .contact-paragraph {
    font-size: 1.3rem;
  }
}

/*****************************/
/* CONTACT PAGE 3 CSS */
/*****************************/

.color-p {
  color: #fff;
}

.color-h {
  color: #495057;
}
