* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  text-decoration: none;
}

/* **************** */
/* INDEX SECTION */
/******************/

.section-grid {
  padding-top: 5.8rem;
}
.image {
  max-width: 100%;
  height: 100%;
}

.resume-1 {
  padding: 2.2rem 5.2rem;
}
.heading-resume {
  font-size: 5rem;
  font-weight: 550;
}

.paragraph-1 {
  padding-top: 1.6rem;
  font-size: 2rem;
  line-height: 1.5;
}

.resume-2 {
  padding: 2.2rem 3.2rem;
}

.img-icon {
  padding-top: 3rem;
}

.second-div {
  padding-left: 2.2rem;
}

.second-div h4 {
  font-size: 1.5rem;
  padding-top: 1.4rem;
}

.inner-div {
  padding: 5.2rem 0 3.2rem 0;
}

.second-div p {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: italic;
  color: #adb5bd;
  padding-top: 1rem;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #495057;
  padding: 1.2rem 2rem;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  color: #fff;
}

.pos {
  position: relative;
  margin-top: 3.2rem;
}

.btn-icon {
  border: none;
  cursor: pointer;
  background-color: #343a40;
  padding: 1.2rem 2rem;
  border-radius: square;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon2 {
  border: none;
  cursor: pointer;
  background-color: #343a40;
  padding: 1.2rem 2rem;
  border-radius: square;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 23.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-3 {
  padding: 2rem 7.2rem;
}

/***************/
/* SECTION-2 */
/***************/

.section-2 {
  padding: 9.8rem 0 9.8rem 0;
}

.center {
  max-width: 70rem;
  margin: 0 auto;
}

.center h2 {
  font-size: 2.2rem;
  color: #f59f00;
  text-align: center;
}

.center h1 {
  font-size: 5.2rem;
  padding-top: 2.4rem;
  font-weight: 500;
  text-align: Center;
}

.center p {
  text-align: center;
  font-size: 2.7rem;
  color: #adb5bd;
  padding-top: 2.4rem;
  padding-bottom: 3.2rem;
}

.pos-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linki2 {
  position: relative;
}

.btn-icon3 {
  border: none;
  cursor: pointer;
  background-color: #343a40;
  padding: 1.2rem 2rem;
  border-radius: square;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: -2.13rem;
  right: -4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************/
/* SECTION-3 */
/*****************/

.section-3 {
  background-color: #fff4e6;
  padding: 7rem 8rem;
}

/* .col1 {
  padding-top: 7rem;
} */

.paragraph-3 {
  font-size: 2rem;
  color: #f59f00;
  font-weight: 300;
  padding-bottom: 1.4rem;
}

.link3:link,
.link3:visited {
  text-decoration: none;
  color: #adb5bd;
  font-size: 2rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.list-item {
  font-size: 1.7rem;
  color: #adb5bd;
}
.culeur {
  color: #004;
}

.list-link {
  text-decoration: none;
  color: #adb5bd;
}

/**********************/
/* LAST-SECTION */
/**********************/

.section-4 {
  background-color: #495057;
  padding: 4.2rem 5.4rem 6rem 5.4rem;
}

.last-div p {
  font-size: 1.6rem;
  text-align: end;
  color: #fff;
}

/******************/
/* NAVIGATION */
/******************/

.navigation {
  border-bottom: 1px solid #adb5bc;
  padding-bottom: 1.7rem;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem 0 3rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.5rem;
}

.img {
  width: 12rem;
  height: 7rem;
}

.a-list:link,
.a-list:visited {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.nav-list-item a:hover {
  color: #adb5bd;
}

.nav-menu {
  width: 5rem;
  height: 5rem;
  display: none;
}

.hover-list a {
  text-decoration: none;
  color: #fff;
}

.hover-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.hover-div {
  width: 100%;
  background-color: #868e96;
  padding: 2.2rem;
  display: none;
}

/***************************/
/* FIRST PHOTO */

.photo-heading {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 3px 2px black;
}

.heading-photo-paragraph {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 3px 2px black;
}

.heading-photo {
  position: relative;
}

.inner-div-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
